@import url('/home/cspark/.cache/wal/colors-waybar.css');

* {
    border: none;
    border-radius: 4;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Hack, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: @background;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-waybar-mpris,
#custom-wayfire-settings,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 4px 4px;
    color: @background;
    background-color: @color1;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* #clock { */
/*     background-color: #64727D; */
/* } */

/* #battery { */
/*     background-color: #ffffff; */
/*     color: #000000; */
/* } */

#battery.charging, #battery.plugged {
    /* color: #ffffff; */
    background-color: @color4;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

/* #cpu { */
/*     background-color: #2ecc71; */
/*     color: #000000; */
/* } */

/* #memory { */
/*     background-color: #9b59b6; */
/* } */

/* #disk { */
/*     background-color: #964B00; */
/* } */

/* #backlight { */
/*     background-color: #90b1b1; */
/* } */

/* #network { */
/*     background-color: #2980b9; */
/* } */

/* #network.disconnected { */
/*     background-color: #f53c3c; */
/* } */

/* #pulseaudio { */
/*     background-color: #f1c40f; */
/*     color: #000000; */
/* } */

#pulseaudio.muted {
    background-color: @color4;
    color: #2a5c45;
}

/* #custom-media { */
/*     background-color: #66cc99; */
/*     color: #2a5c45; */
/*     min-width: 100px; */
/* } */

/* #custom-media.custom-spotify { */
/*     background-color: #66cc99; */
/* } */

/* #custom-media.custom-vlc { */
/*     background-color: #ffa000; */
/* } */

/* #temperature { */
/*     background-color: #f0932b; */
/* } */

/* #temperature.critical { */
/*     background-color: #eb4d4b; */
/* } */

#custom-wayfire-settings,
#tray {
    background-color: @color2;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

/* #mpd { */
/*     background-color: #66cc99; */
/*     color: #2a5c45; */
/* } */

/* #mpd.disconnected { */
/*     background-color: #f53c3c; */
/* } */

/* #mpd.stopped { */
/*     background-color: #90b1b1; */
/* } */

/* #mpd.paused { */
/*     background-color: #51a37a; */
/* } */

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

/* #custom-waybar-mpris { */
/*     background-color: #740864;  */
/* } */

